<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Home Page</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
        <a href="/upload">Upload File</a>
    </div>
    <h2 class="title">List Users</h2>
    <table>
        <thead>
            <tr>
                <th class="tableHead">ID</th>
                <th class="tableHead">Mail</th>
                <th class="tableHead">Name</th>
                <th class="tableHead">City</th>
                <th class="tableHead">Actions</th>
            </tr>
        </thead>
        <!-- <% for (let i=0; i < listUsers.length; i++) { %>
            <tr class="tableRow">
                <td>
                    <%= listUsers[i]?.id %>
                </td>
                <td>
                    <%= listUsers[i].email %>
                </td>
                <td>
                    <%= listUsers[i].name %>
                </td>
                <td>
                    <%= listUsers[i].city %>
                </td>
                <td>
                    <button>Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
            <% } %> -->
        <% listUsers.forEach(function(user, index) { %>
            <tr class="tableRow">
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.name %>
                </td>
                <td>
                    <%= user.city %>
                </td>
                <td>
                    <a href="update/<%= user.id %>">Edit</a>
                    <form action="delete-user/<%= user.id %>" method="post">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
    </table>
</body>

</html>